html{
    background-color: black;
}

h1{
    text-transform: uppercase;
    font-size: 3rem;
}
.mot1{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;


}
.mot2{
    border: 10px solid white;

}
    

        
